@import '../../../styles/mixins.scss';

.info_title {
  @include reset-text;
  @include text-NotoSans-30-700;
  text-align: center;
  @media (width <= 500px) {
    @include text-NotoSans-24-700;
  }
}

.info_cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  @media (width < 1310px) {
    justify-content: center;
  }
}
