@import '../../styles/mixins.scss';

.title_wrapper {
  max-width: 100%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 45px 43px;
  overflow: hidden;
}

.title {
  @include reset-text;
  position: relative;
  color: #01457a;
  font-family: var(--font-century-gothic);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  @media (width <= 768px) {
    font-size: 32px;
  }
  @media (width <= 500px) {
    font-size: 26px;
  }
}

.title_decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1280px;
  z-index: 1;
}
