@import '../../styles/mixins.scss';

.card {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 19px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  background: linear-gradient(90deg, #fbfdff 0%, #d8efff 100.86%);
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.35);
}

.card_svg_wrapper {
  width: 178px;
  height: 145px;
  position: relative;
  @media (width < 900px) {
    width: 120px;
    height: 100px;
  }
}

.card_svg_inhaler {
  width: 125px;
  height: 105px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  @media (width < 900px) {
    width: 80px;
    height: 80px;
  }
}

.card_svg_ellipse {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: linear-gradient(90deg, #fdd966 0%, #bcd77e 68.54%);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width < 900px) {
    width: 60px;
    height: 60px;
  }
}

.card_svg_ellipse_number {
  @include reset-text;
  @include text-NotoSans-48-700;
  display: inline-block;
  @media (width < 900px) {
    @include text-NotoSans-30-700;
  }
}

.card_title {
  @include reset-text;
  @include text-NotoSans-28-500;
  text-align: center;
  span {
    font-weight: 700;
  }
  @media (width < 900px) {
    @include text-NotoSans-24-400;
    font-weight: 500;
  }
  @media (width <= 500px) {
    @include text-NotoSans-20-700;
    font-weight: 500;
  }
}

.card_text {
  @include reset-text;
  @include text-NotoSans-24-400;
  text-align: center;
  @media (width < 900px) {
    @include text-NotoSans-20-700;
    font-weight: 400;
  }
  @media (width <= 500px) {
    @include text-NotoSans-16-400;
  }
}
